.same-btn {
    margin-top: 15px;
    padding: 15px;
    font-weight: bold;
    width:350px;
    color: whitesmoke;
    border-radius: 30px;
   
    
}
.full-body{
   
    height:100vh;
    width:100%;
    background: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://i.ibb.co/ZS4y7XT/photo-1604187351574-c75ca79f5807.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
}
 
.form-container {
   padding-top: 90px;
    height: 400px;
     padding-left: 100px;
    border-radius: 5px;
    
}

.same-input {
    margin-top: 10px;
    padding: 10px;
    border:rgb(185, 89, 21)
}

.same-input-field {
    padding: 10px;
    border-radius: 7px;
    width:360px;
}
.forgate-container{
    margin-left:110px;
    color: rgb(136, 30, 30);
    font-size:17px;
    text-decoration: none;
}
.forgate-container:hover{
    color:rgb(136, 30, 30);
    cursor: pointer;
}
.login-btn{
    width:350px;
    border-radius: 7px;
    background-color: teal;
    border:1px solid rgb(189, 143, 110);
    font-weight: bold;
 
}
.login-btn:hover{
    background-color: white;
    border:1px solid rgb(14, 13, 12);
}
.fbGoogle-container{
    border-top: 1px solid gray;
    width:350px;
    margin-bottom:10px;
    margin-left: 30%;
    
}
 
.google{
    background: linear-gradient(to right, #EA4335 0%, #FBBC05 40%, #34A853 60%, #4285F4 99% );
}